{% extends 'base.html' %}
{% block title %}
  {{ post.location }}. {{ post.date }}
{% endblock %}
{% block text %}
  <article style="font-size: 20px; text-align: left; padding-left: 20%; padding-right: 40%;">
    <ul>
      <li>Место: {{ post.location }}</li>
      <li>Дата: {{ post.date }}</li>
      <li>Категория: <a href="{% url 'blog:category_posts' category_slug=post.category %}">{{ post.category }}</a></li>
    </ul>
    <p>{{ post.text|linebreaksbr }}</p>
  </article>
{% endblock %}
